<!--THIS PAGE CONTAINS THE DESCRIPTION OF THE DISEASES-->
<!--THIS PAGE IS LINKED WITH $medical-->
<!--$descr-->
<!--CREATOR: @Surya-->


<style>
  .listcard{
    position: absolute;
    top: 7%;
  }
/*CREATOR:@Surya-*/
  .mod{
    position: absolute;
    left: 5%;
  }
</style>


  <div class="bar bar-header">
    <div class="h1 title">Fever</div>
    <mod>
     <button class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="medical">Back</button> 
    </mod>
  </div>

<div class="listcard">
  
  <div class="item item-image">
      <img src="../img/prescrip.png">
  </div>

  <a class="item item-icon-left assertive">
    <i class="icon ion-sad-outline"></i>
    24/4/2016
  </a>
  <a class="item item-icon-left assertive">
    <i class="icon ion-happy-outline"></i>
   30/4/2016
  </a>
  <a class="item item-icon-left assertive">
    <i class="icon ion-person"></i>
     Dr.Sudhir Chatterjee
  </a>  

<a class="item item-icon-left assertive">
  <i class="icon ion-ios-telephone"></i>
   9830222623
 </a>  
 
</div>