<!--THIS PAGE CONTAINS A SIMPLE REGISTR FORM-->
<!--THIS PAGE IS LINKED WITH $outside.login-->
<!--$outside.register-->
<!--CREATOR: @Surya-->

<ion-view title="Create a new account">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="user.name">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    <!--CREATOR: @Surya-->
    <button class="button button-full button-positive" ng-click="signup()">
      Sign up
    </button>
  </ion-content>
</ion-view>