<!--THIS CONTAINS THE LIST OF THE TEST PERFORMED-->
<!--THIS IS LINKED WITH $inside and $showresults-->
<!--$testlist-->
<!--CRESTOR: @Surya-->


<style>
	.list{
		position: absolute;
		top: 6%;
  /*CREATOR: @Surya*/
    width: 290px;
	}
</style>

<div class="bar bar-header">
  <div class="h1 title">Test History</div>
  <button class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="inside">Back</button> 
  <button class="button button-clear button-positive" ui-sref="*">Add</button>
</div>
<div class="list">

  <div class="item item-button-right">
    Sugar
    <button class="button button-light" ui-sref="showresults">
      <i class="icon ion-arrow-right-b"></i>
    </button>
  </div>
    <div class="item item-button-right">
    Blood Pressure
    <button class="button button-light" ui-sref="showresults">
      <i class="icon ion-arrow-right-b"></i>
    </button>
    </div>
</div>